.ant-layout-sider {
  background: #791a1f !important;
}

.ant-menu-dark, .ant-menu-dark .ant-menu-sub{
  background:#791a1f!important;
  box-shadow: none!important;
}
.ant-pro-sider-menu-logo{
  background: #791a1f!important;
}
#logo svg{
  display: none;
}

.top_box
{
  display: inline-block;
  width: 100%;
}
.top_left{
  float: left;
}
.top_right {
  float: right;
}
.page_title{
  color: #791a1f;
  font-size: 16px;
  padding: 15px;
}
.box_count{
  font-size: 16px;
  margin:10px 15px;
}

.box_contetn{
  margin: 15px;
}