<template>
  <div>
    <div class="page_title">縣府員工</div>
    <a-card :body-style="{padding: '24px 32px'}">
    <div class="top_box">
      <div class="top_left">
        <a-button type="primary">
          <a-icon type="plus" /> 新增縣府員工
        </a-button>
      </div>
      <div class="top_right">
        <a-input-search placeholder="搜尋時間" style="width: 200px" @search="onSearch" />
      </div>
    </div>
    </a-card>
    <div class="box_count">
      62筆
    </div>
    <div class="box_contetn">
      <a-card>
          <a-table :columns="columns" :data-source="data">
            <a slot="name" slot-scope="text">{{ text }}</a>
            <span slot="customTitle"><a-icon type="smile-o" /> Name</span>
            <span slot="tags" slot-scope="tags">
              <a-tag v-for="tag in tags" :key="tag" :color="tag === '暫停' ? 'volcano' : tag.length > 5 ? 'geekblue' : 'green'">
                {{ tag.toUpperCase() }}
              </a-tag>
            </span>
            <span slot="site">
              <a-button type="dashed">編輯</a-button>
              <a-button type="danger">刪除</a-button>
            </span>
          </a-table>
      </a-card>
    </div>
  </div>
</template>
<script>

  const columns = [
    { title: '帳號', dataIndex: 'username', key: 'username' },
    { title: '姓名', dataIndex: 'name', key: 'name' },
    { title: 'email', dataIndex: 'email', key: 'email' },
    { title: '角色', dataIndex: 'roles', key: 'roles' },
    { title: '所屬局處名稱', dataIndex: 'unit', key: 'unit' },
    { title: '手機號碼', dataIndex: 'phone', key: 'email' },
    { title: '加入日期', dataIndex: 'createData', key: 'createData' },
    { title: '狀態', key: 'status', dataIndex: 'status', scopedSlots: { customRender: 'tags' } },
    { title: '操作', key: 'site', scopedSlots: { customRender: 'site' } }
  ]

  const data = [
    { key: '1', name: '張三', username: 'sad123', email: 'qa@redpay.io', roles: '縣府員工', unit: '新北市衛生局人事處', phone: '0934473784', createData: '2022-05-06:20:12:43', status: ['啟用'] }
    // { key: '2', name: '李四', username: 'qtg123', email: 'ew6356@redpay.io', status: ['暫停'] },
    // { key: '3', name: '王五', username: 'qa5644', email: 'oyfn123qa@redpay.io', status: ['啟用'] }
  ]

  export default {
    name: 'BaseForm',
    data () {
      return {
        data,
        columns
      }
    }
  }
</script>
